# Dependencies
node_modules/

# Build
dist/
*.local
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
